@import "variables";

.page-title {
  font-size: 30px;
  color: $white;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: $tablet) {
  .page-title {
    font-size: 40px;
  }
}
