@import "variables";

.App {
  background: $light-colour;
  display: grid;
  grid-template-areas:
    "sidebar navbar"
    "sidebar about"
    "sidebar experience"
    "sidebar projects";
  grid-template-columns: 1fr 10fr;
}
