@import "variables";

.contact-container {
  padding: 50px 175px 200px 175px;
  font-size: $page-text;
}

.contact-title {
  font-size: $page-heading;
  margin: 0 0 35px 0;
  color: $white;
}

.contact-detail {
  font-weight: bold;
}
