@import "variables";

.contact-container {
  padding: 50px 175px 200px 175px;
  font-size: 20px;
}

.contact-title {
  font-size: 38px;
  margin: 0 0 35px 0;
  color: $white;
}

.contact-detail {
  font-weight: bold;
}

@media screen and (max-width: $desktop) {
  .contact-container {
    padding: 50px 50px 200px 50px;
  }
}
