@import "variables";

.contact-container {
  padding: 50px 30px 200px 30px;
  font-size: 16px;
}

.contact-link {
  color: $white;
  transition: 0.2s;
}

.contact-link:hover {
  color: $light-colour-hover;
}

.contact-title {
  font-size: 30px;
  margin: 0 0 35px 0;
  color: $white;
}

.contact-detail {
  font-weight: bold;
}

.contact-text {
  margin: 0 0 15px 0;
}

@media screen and (min-width: $tablet) {
  .contact-container {
    padding: 50px 50px 200px 50px;
    font-size: 20px;
  }

  .contact-title {
    font-size: 38px;
  }
}

@media screen and (min-width: $desktop) {
  .contact-container {
    padding: 50px 175px 200px 175px;
  }
}
