@import "variables";

.experience-container {
  padding: 50px 30px;
}

.experience-title {
  font-size: 30px;
  margin: 0 0 25px 0;
  color: $white;
}

.work-container {
  display: flex;
  flex-direction: column;
}

.work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-list button {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  height: 40px;
  width: 100%;
  background-color: $dark-colour;
  color: $white;
  border: none;
  border-bottom: 1px solid $dark-colour;
  transition: all 0.2s;
}

.work-list button:hover,
.work-list .selected {
  background-color: $white;
  color: $black;
}

.work-title {
  font-size: 20px;
  margin: 0 0 10px 0;
  color: $light-colour;
}

.work-title a {
  color: $white;
  text-decoration: none;
  font-weight: bold;
}

.work-dates {
  font-family: $secondary-font;
  color: $light-colour;
  font-size: 18px;
  font-weight: bold;
}

.work-info {
  margin: 25px 0 0 0;
}

.work-info ul {
  padding: 0;
}

.work-info li {
  font-size: 16px;
  margin: 0 0 10px 0;
  list-style-position: inside;
}

@media screen and (min-width: $mobile) {
  .experience-container {
    padding: 50px 50px;
  }

  .experience-title {
    margin: 0 0 50px 0;
  }

  .work-list {
    flex-direction: row;
  }

  .work-list button {
    width: 34%;
  }
}

@media screen and (min-width: $tablet) {
  .experience-title {
    font-size: 38px;
  }

  .work-container {
    flex-direction: row;
  }

  .work-list {
    flex-direction: column;
  }

  .experience-container {
    padding: 50px 75px;
  }

  .work-title {
    font-size: 26px;
  }

  .work-info {
    margin: 0 0 0 20px;
  }

  .work-info li {
    font-size: 20px;
  }

  .work-list button {
    font-size: 16px;
    height: 50px;
    width: 150px;
  }
}

@media screen and (min-width: $desktop) {
  .experience-container {
    padding: 50px 175px;
  }
}
