@import "variables";

.footer-container {
  height: 80px;
  background: $black;
  margin-top: 100px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  border-top: 1px solid $dark-colour;
}

.footer-detail {
  margin: 0 20px 10px 0;
}

.footer-detail a {
  text-decoration: none;
  color: $white;
  transition: 0.2s;
}

.footer-detail a:hover {
  color: $light-colour-hover;
}
