@import "variables";

body {
  margin: 0;
  color: $white;
  background: $black;
  font-family: $main-font;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

#app-container {
  overflow-x: hidden;
  position: relative;
  margin: 60px 0 0 0;
}
