@import "variables";

.navbar,
.navbar-item {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  border-bottom: 1px solid $dark-colour;
  grid-area: navbar;
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 100;
  transition: transform 0.5s;
}

.hidden {
  transform: translateY(-100%);
}

.navbar-options {
  display: flex;
}

.navbar-name {
  margin: 0 0 0 10px;
}

.navbar-item {
  font-size: 13px;
  text-transform: uppercase;
  color: $dark-colour;
  border-top: 1px solid $dark-colour;
  border-left: 1px solid $dark-colour;
  border-right: 1px solid $dark-colour;
  cursor: pointer;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 50px;
  padding: 3px;
  background-color: $white;
}

.navbar-item span {
  color: $white;
  position: relative;
  transition: 0.2s cubic-bezier(0.7, 0, 0.2, 1);
}

.navbar-item:hover span {
  color: $black;
}

.navbar-item::before,
.navbar-item::after {
  position: absolute;
  width: 110px;
  height: 50px;
  padding: 3px;
}

.navbar-item::before {
  content: "";
  background-color: $dark-colour;
  transition: transform 0.2s cubic-bezier(0.7, 0, 0.2, 1);
}

.navbar-item:hover::before {
  transform: translate3d(0, -100%, 0);
}
