@import "variables";

.projects-container {
  padding: 50px 30px 200px 30px;
}

.projects-title {
  font-size: 30px;
  margin: 0 0 50px 0;
  color: $white;
}

.project-name {
  margin: 0 0 10px 0;
  color: $light-colour;
  font-size: 30px;
}

.details-container {
  margin: 0 0 200px 0;
}

.project-image-container {
  display: flex;
  justify-content: center;
}

.project-image-container img {
  margin-top: -18px; // Overlap effect
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px $black;
}

.project-details {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.tech {
  grid-area: tech;
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 18px;
  color: $light-colour;
  text-align: center;
  margin: 20px 0 0 0;
}

.project-points {
  font-size: 18px;
  background: $dark-colour;
  border-radius: 5px;
  padding: 16px;
  box-shadow: none;
}

.Weather-container {
  .project-details {
    text-align: left;
  }
}

@media screen and (min-width: $tablet) {
  .project-details {
    grid-area: right;
  }

  .Weather {
    grid-area: left;
  }

  .details-container {
    display: grid;
    grid-template-areas:
      "left right"
      "tech tech";
    grid-gap: 10px;
  }

  .project-image-container {
    display: block;
    grid-area: left;
  }

  .project-image-container img {
    margin-top: 0;
    width: 100%;
    box-shadow: none;
  }

  .projects-container {
    padding: 50px 50px 200px 50px;
  }

  .projects-title {
    font-size: 38px;
  }

  .project-points {
    margin-left: -30px; // Overlap effect
    box-shadow: 0 0 10px $black;
  }

  .Weather-container {
    .project-points {
      margin-left: 0;
      margin-right: -30px; // Overlap effect
    }

    .project-image-container {
      grid-area: right;
    }

    .tech {
      text-align: left;
    }
  }

  .tech {
    margin: 0;
    text-align: right;
  }
}

@media screen and (min-width: $desktop) {
  .projects-container {
    padding: 50px 175px 200px 175px;
  }
}
