@import "variables";

.projects-container {
  padding: 50px 175px 200px 175px;
  font-size: $page-text;
}

.projects-title {
  font-size: $page-heading;
  margin: 0 0 35px 0;
  color: $white;
}

.project-name {
  font-weight: bold;
}
