@import "variables";

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid $dark-colour;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  position: sticky;
  top: 0;
}

.cv,
.github,
.linkedin {
  height: 40px;
  width: 40px;
  border: 1px solid $dark-colour;
  margin: 10px 0 0 0;
  background-color: $mid-colour;
  display: flex;
  justify-content: center;
  align-items: center;
}
