@import "variables";

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid $dark-colour;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.links-container a > img {
  cursor: pointer;
  margin: 25px 0 0 0;
  width: 40px;
}
