// Fonts
$main-font: WF Visual Sans Text, sans-serif;
$secondary-font: Roboto Mono, monospace;

// Colours
$light-colour: #ccd7e4;
$dark-colour: #141b41;
$mid-colour: #8f9fb3;
$white: #fff;
$black: #000;
