// Fonts
$main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$secondary-font: Roboto Mono, monospace;

// Colours
$black: #212a31;
$dark-colour: #2e3944;
$mid-colour: #124e66;
$light-colour: #748d92;
$white: #d3d9d4;
$title: #5c7082;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
