// Fonts
$main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$secondary-font: Roboto Mono, monospace;

// Colours
$light-colour: #e9f1f7;
$mid-colour: #757083;
$dark-colour: #002a32;
$title: #5c7082;
$white: #fff;
$black: #000;
